 <ion-header>
    <ion-toolbar>
      <ion-title>
        LOGIN
      </ion-title>
    </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding">
  <div class="title">
  </div>

  <ion-content padding>
    <ion-avatar class="avatar" >
      <img src="\assets\login.jpg">
    </ion-avatar>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>
 
  
  <div class="ion-margin-top ion-text-right forget">
    <a>Forgot Password?</a>
  </div>

  <div class="ion-margin-top">
  <ion-button class="button" expand="block" fill="outline" href="home" >Login</ion-button>
  </div>
   <div class="ion-margin-top ion-text-center">
    <ion-button class="button" expand="block" fill="outline" href="home" >Close</ion-button>
  </div>
</ion-content>
