<ion-header>
<ion-toolbar>
  <ion-title>
    SIGN UP
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar class="avatar" >
    <img src="\assets\sign.jpg">
  </ion-avatar>
  <form [formGroup]="crimeform">
  
  <ion-item>
    <ion-label position="floating">First name</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Last name</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm Password</ion-label>
    <ion-input class="input" type="email" name="email"></ion-input>
  </ion-item>
</form>
  <p>By signing up you're agreed to our Terms & Conditions</p>


  <div class="ion-margin-top">
    <ion-button class="button" expand="block" fill="outline" href="home" >Sign up</ion-button>
    </div>
     <div class="ion-margin-top ion-text-center">
      <ion-button class="button" expand="block" fill="outline" href="home" >Close</ion-button>
    </div>
</ion-content>