
.title p {
  margin-top: 0!important;
  color: #999999;
  font-size: small;
}

p {
  font-size: small;
  color: #999999;
}
ion-content{
  --ion-background-color:#000000f5;
}
.avatar{
  margin: auto;
}