<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-avatar class="avatar" >
    <img src="\assets\dp.jpg">
  </ion-avatar>
<ion-content class="content-bg">

  <div class="bg-primary vertical-padding">
    
    <img src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round">

    <div class="ion-text-center">
      <h4 class="text-white">Carene Solano</h4>
    </div>
    <div class="ion-text-center">
      <span class="text-white text-job"><p>BSIT 3rd year College</p></span>
    </div>
    <div class="ion-text-center">
      <span class="text-white text-job"><p>Gordon College</p></span>
    </div>
    <div class="ion-text-center">
      <span class="text-white text-job"><p>Dinalupihan, Bataan</p></span>
    </div>

  </div>

  <ion-grid fixed class="border-bottom bg-white">
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">32</span> <br>
          <small>Post</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">1023</span> <br>
          <small>Followers</small>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-center">
          <span class="text-statics-big text-primary">23</span> <br>
          <small>Following</small>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg-white border-bottom-soft">
    <ion-row>
      <ion-col size="6">
        <div class="ion-text-left">
          <span class="text-bold">Photos</span>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-right">
          <span class="text-bold">MORE ...</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <img src= img src="\assets\me.jpg"> 
      </ion-col>
      <ion-col size="4">
        <img src= img src="\assets\me1.jpg">
      </ion-col>
      <ion-col size="4">
        <img src= img src="\assets\me2.jpg">
      </ion-col>
      <ion-col size="4">
        <img src= img src="\assets\me3.jpg">
      </ion-col>
    <ion-col size="4">
      <img src= img src="\assets\me4.jpg">
    </ion-col>
  <ion-col size="4">
    <img src= img src="\assets\me5.jpg">
  </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card mode="ios">
    <ion-card-content class="ion-no-padding">
      <ion-list class="ion-no-padding" lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img src="\assets\me5.jpg">
          </ion-avatar>
          <ion-label>
            <h2>korine_</h2>
            <p>Active 23 min. ago</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <img src="https://thepracticaldev.s3.amazonaws.com/i/8m2htjjpp31idwz8wnrz.jpg" alt="">
    <ion-card-content class="bg-white">
      Awesome content
    </ion-card-content>
  </ion-card>

</ion-content>